body{
    /* background-image: linear-gradient(#ffc9c9 55%, white); */
}

.container {
    height: 100%;
    width:100%;
}
.links{
    font-size: 35px;
    padding: 0 20px;
    color: rgb(94, 94, 94);
}
.links:hover{
    color: black;
}
.center{
    text-align: center;
}
h1 {
    font-family: 'Libre Franklin';
    font-size: 3rem;
    margin-bottom: .5rem;
    /* text-transform: uppercase; */
    font-weight: 400;
    color: #12232F;
}
h5 {
    font-family: 'Yantramanav';
    font-weight: 300;
    font-size: 1.6rem;
    margin-bottom: .25rem;
    /* font-style: italic; */
}
p {
    font-family: 'Work Sans';
    font-weight: 300;
    font-size: 1.2rem;
    margin-bottom: 0;
}
#profile-img {
    display: block;
    margin: 0 auto;
    top: 6.5rem;
    width: 50%;
    max-width: 225px;
    border: 1.5px solid rgba(200,200,200,.75);
}

.sidenav{
    height: 100%;
    position: fixed;
    width: 100px;
    background-color: red;
}

.small_icon{
    height: 40px;
    width: 40px;
}

@media screen and (max-width: 600px){
    h1 {
        font-family: 'Libre Franklin';
        font-size: 2.2rem;
        margin-bottom: .5rem;
        /* text-transform: uppercase; */
        font-weight: 200;
        color: #12232F;
    }
    h5 {
        font-family: 'Yantramanav';
        font-weight: 300;
        font-size: 1.2rem;
        margin-bottom: .25rem;
        /* font-style: italic; */
    }
    p {
        font-family: 'Work Sans';
        font-weight: 300;
        font-size: 1rem;
        margin-bottom: 0;
    }
    .links{
        font-size: 20px;
        padding: 0 15px;
        color: rgb(94, 94, 94);
    }
}

/*
 * Sidebar
 */

 .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  
  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
      position: -webkit-sticky;
      position: sticky;
    }
  }
  
  .sidebar .nav-link {
    font-weight: 500;
    color: #333;
  }
  
  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }

  /*
 * Content
 */

[role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
  }